.navkek{
    display:flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    list-style: none;
  }
  .text-drop{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
  }
  